 git log
commit 7744b25644693628f78d93a06953fe470f4708d6 (HEAD -> master, origin/master)
Author: Emili8 <129159772+Emili8@users.noreply.github.com>
Date:   Sat May 13 16:51:32 2023 +0300

    Create README.md

commit 51bc127c4d6adeffb8d3e7a806b54bc3a9c3983c
Author: Emili8 <vvemilya@gmail.com>
Date:   Sat May 13 15:53:36 2023 +0300

    first commit
 git branch
* master
  origine

